//
   Created by Julien on 22/12/2015.
link(rel='stylesheet', href='/css/sticky-footer.css', media='screen')

.footer
    .container
        p.text-muted
            | Projet LOG330 PetTracker développé par
            a(href="http://www.juliengclement.com" target="_blank") Julien Clément